body {
    background: gray;
}

.top-nav {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 1fr);
}

.top-nav ul {
    list-style-type: none;
}

.top-nav a {
    text-decoration: none;
    color: black;
}